<div class="p-4 flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/2">
    <h1 class="font-bold text-3xl p-1">My basket</h1>
    <% if @basket_items.any? %>
      <% @basket_items.each do |basket_item| %>
        <div class="flex items-center bg-slate-50 drop-shadow m-2" data-controller="timer basket">
          <%= link_to item_path(basket_item.item) do %>
            <img src="<%= basket_item.item.image_url %>" class="w-28 p-1 mr-2">
          <% end %>
          <div class="flex justify-between flex-grow mr-2">
            <div class="flex flex-col grow">
              <p class="pt-2">
                <%= link_to item_path(basket_item.item) do %>
                  <%= basket_item.item.name %>
                <% end %>
              </p>

              <div class="flex pt-2">
                <% if basket_item.item.stock.zero? %>
                  <p class="text-red-500">Out of stock</p>
                  <% else %>
                  <p>Quantity:&nbsp;</p>
                  <%= form_with(model: basket_item, method: :patch) do |form| %>
                    <%= form.number_field :quantity, 
                        # min: 1, 
                        max: basket_item.item.stock, 
                        value: basket_item.quantity, 
                        class: 'w-16 bg-slate-50', 
                        data: { 
                          basket_target: "quantityInput", 
                          action: "input->basket#validateQuantity" 
                        } %>
                    <%= form.submit "Update", class: 'cursor-pointer' %>
                  <% end %>
                <% end %>
              </div>

              <%# Timer Section %>
              <% if basket_item.remaining_time > 0 %>
                <div class="text-sm text-gray-500 pt-2">
                  Time left: 
                  <span id="timer-<%= basket_item.id %>"
                        data-timer-target="timer" 
                        data-expiration-time="<%= basket_item.remaining_time.to_i %>">
                    Loading...
                  </span>
                </div>
              <% end %>

              <div class="flex justify-between">
                <p class="py-2">
                  £<%= basket_item.item.price %> per unit
                </p>
                <div>
                <%= button_to 'Remove all',
                    basket_item_path(basket_item),
                    method: :delete,
                    class: 'pt-2',
                    data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      <% end %>

    <% else %>
      <p class="text-center mt-4">Your basket is empty</p>
    <% end %>
  </div>

  <div class="w-full lg:w-1/2">
    <h1 class="font-bold text-3xl p-1">Checkout</h1>

    <% if @pending_order %>
      <div class="bg-slate-50 p-2 m-2 drop-shadow">
        <h2 class="text-xl font-semibold pb-2">Pending Order</h2>
        <ul class="pb-4">
          <% @pending_order.order_items.each do |order_item| %>
            <li class="flex justify-between border-b py-2">
              <span><%= order_item.item.name %> (x<%= order_item.quantity %>)</span>
              <span>£<%= (order_item.price * order_item.quantity) %></span>
            </li>
          <% end %>
        </ul>
        <div class="flex justify-between font-bold text-lg pt-2">
          <span>Total:</span>
          <span>£<%= @pending_order.total_amount %></span>
        </div>
        <div class="flex justify-between mt-4">
          <%= link_to 'Resume Payment', new_order_payment_path(@pending_order), class: 'btn-primary' %>
          <div class="flex flex-col">
            <%= button_to 'Cancel Order', cancel_order_path(@pending_order), method: :delete, class: 'pt-2', data: { confirm: 'Are you sure you want to cancel this order?' } %>
            <p class="text-center text-gray-500 text-xs">Items are still saved to your basket</p>
          </div>
        </div>
      </div>

    <% elsif @basket_items.any? %>
      <div class="bg-slate-50 p-2 m-2 drop-shadow">
        <h2 class="text-xl font-semibold pb-2">Order Summary</h2>
        <ul class="pb-4">
          <% @basket_items.each do |basket_item| %>
            <li class="flex justify-between border-b py-2">
              <span><%= basket_item.item.name %> (x<%= basket_item.quantity %>)</span>
              <span>£<%= (basket_item.item.price * basket_item.quantity) %></span>
            </li>
          <% end %>
        </ul>
        <div class="flex justify-between font-bold text-lg border-t pt-2">
          <span>Subtotal:</span>
          <span>£<%= @basket_items.sum { |item| item.item.price * item.quantity } %></span>
        </div>
        <div class="flex justify-between text-lg py-1">
          <span>Delivery fee:</span>
          <span>£<%= @delivery %></span>
        </div>
        <div class="flex justify-between font-bold text-lg pt-2">
          <span>Total:</span>
          <span>£<%= @total %></span>
        </div>
        <div class="pt-4">
          <%#= link_to 'Proceed to Payment', new_order_path, class: 'btn-primary w-full text-center' %>
          <%= form_with(url: orders_path, local: true) do |form| %>
            <%= form.submit 'Proceed to Payment', class: 'btn-primary w-full text-center' %>
          <% end %>
        </div>
      </div>
    <% else %>
      <p class="text-center mt-4">No items to checkout.</p>
    <% end %>
  </div>
</div>
