<div class="p-4 text-center">
  <h1 class="font-bold text-3xl text-darkBlue">Thank you for your order!</h1>
  <br>
  <p>Your order has been successfully placed</p>
  <br>
  <p>
    Delivery to: <strong><%= @order.house_number %>, <%= @order.street_address%>, 
    <%= @order.city %>, <%= @order.display_postcode %></strong>
  </p>
  <p>
    Delivery date:<strong> <%= @order.delivery_date.strftime('%A %e %B %Y') %></strong>
  </p>
  <p>Order Total: <strong>£<%= (@order.total_amount) %></strong></p>
  <p>Order ID: <strong><%= @order.id %></strong></p>

  <!-- Optionally show more order details -->
  <div class="py-4">
    <%= link_to "See all orders", orders_path, class: "btn-primary" %>
  </div>

  <div>
    <%= link_to "Back to Home", root_path, class: "btn-secondary" %>
  </div>
</div>
