<div class="p-4">
  <h1 class="text-3xl font-bold p-1 mb-4">My Order History</h1>

  <% if @orders.any? %>
    <% @orders.each do |order| %>
      <div class="bg-slate-50 p-2 my-2 drop-shadow flex flex-col md:flex-row w-full lg:w-2/3">
        <div class="mr-4">
          <p><strong>Order ID:</strong> <%= order.id %></p>
          <p><strong>Date:</strong> <%= order.created_at.strftime('%d %B %Y, %I:%M %p') %></p>
          <p><strong>Status:</strong> <%= order.status.titleize %></p>
          <p><strong>Total Amount:</strong> £<%= order.total_amount %> (delivery fee inc.)</p>
        </div>
        <div>
          <p><strong>Summary:</strong></p>
          <ul>
            <% order.order_items.each do |item| %>
              <li>
                <%= item.quantity %> x <%= item.item.name %> (£<%= item.price %> each)
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You have no past orders.</p>
  <% end %>
</div>
