<div class="p-4 flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/2">
    <h1 class="font-bold text-3xl p-1">Order Summary</h1>
    <ul class="bg-slate-50 drop-shadow p-4 m-2">
      <% @basket_items.each do |item| %>
        <li class="flex justify-between border-b py-2">
          <span><%= item.item.name %> (x<%= item.quantity %>)</span>
          <span>£<%= (item.item.price * item.quantity).round(0) %></span>
        </li>
      <% end %>
      <div class="flex justify-between font-bold text-lg border-t pt-2">
        <span>Total:</span>
        <span>£<%= @basket_items.sum { |item| item.item.price * item.quantity }.round(0) %></span>
      </div>
    </ul>
  </div>

  <div class="w-full lg:w-1/2">
    <h1 class="font-bold text-3xl p-1">Payment Details</h1>
    <div class="bg-slate-50 drop-shadow p-4 m-2">
      <%= form_with url: payments_path, method: :post, local: true do |form| %>
        <div class="py-2">
          <%= form.label :card_number, "Card Number" %>
          <%= form.text_field :card_number, 
              pattern: "\\d{4} \\d{4} \\d{4} \\d{4}", 
              maxlength: 19, 
              placeholder: "1234 5678 1234 5678", 
              required: true, 
              class: "w-full p-2 border",
              id: "card-number" %>
        </div>

        <div class="py-2">
          <%= form.label :expiry_date, "Expiry Date (MM/YY)" %>
          <%= form.text_field :expiry_date, 
              pattern: "^(0[1-9]|1[0-2])\\/\\d{2}$", 
              maxlength: 5, 
              placeholder: "MM/YY", 
              required: true, 
              class: "w-full p-2 border",
              id: "expiry-date" %>
        </div>

        <div class="py-2">
          <%= form.label :cvv, "CVV" %>
          <%= form.text_field :cvv, 
              pattern: "^\\d{3,4}$", 
              maxlength: 4, 
              placeholder: "123", 
              required: true, 
              class: "w-full p-2 border" ,
              id: "cvv" %>
        </div>

        <%= form.hidden_field :order_total, value: @basket_items.sum { |item| item.item.price * item.quantity }.round(0) %>
        <%= form.submit "Pay Now", class: "btn-primary w-full text-center cursor-pointer" %>
      <% end %>
    </div>
  </div>
</div>
