<div class="p-4 flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/2">
    <div>
      <%= form_with model: @order, id:"addressForm", data: { order_id: @order.id }, local: true do |form| %>
        <h1 class="font-bold text-3xl p-1 text-darkBlue">Delivery Address</h1>

        <div class="bg-slate-50 p-2 m-2 drop-shadow" data-controller="address-lookup">
          <!-- Loading indicator -->
          <div class="hidden py-2 text-gray-600" data-address-lookup-target="loading">
            Searching addresses...
          </div>

          <div class="py-2">
            <%= form.label :postcode, "Postcode", class: "block mb-1" %>
            <div class="flex gap-2">
              <%= form.text_field :display_postcode,
                  class: "w-full p-2 border rounded",
                  data: { 
                    address_lookup_target: "postcodeInput",
                    action: "input->address-lookup#searchPostcode"
                  },
                  placeholder: "Enter your postcode" %>
              <button type="button" 
                      class="btn-secondary"
                      data-action="click->address-lookup#searchPostcode">
                Find Address
              </button>
            </div>
          </div>

          <div class="py-2 hidden" data-address-lookup-target="addressSelection">
            <%= form.label :address, "Select Address", class: "block mb-1" %>
            <%= form.select :address,
                [],
                { prompt: "Select your address" },
                { 
                  class: "w-full p-2 border rounded",
                  data: { 
                    address_lookup_target: "addressSelect",
                    action: "change->address-lookup#updateAddress"
                  }
                } %>
          </div>

          <div class="py-2 <%= @order.address_complete? ? '' : 'hidden' %>" data-address-lookup-target="manualAddress">
            <%= form.label :house_number, "House Name/Number", class: "block mb-1" %>
            <%= form.text_field :house_number,
                class: "w-full p-2 border rounded mb-2",
                # required: true,
                data: { address_lookup_target: "houseNumberInput" } %>

            <%= form.label :street_address, "Street", class: "block mb-1" %>
            <%= form.text_field :street_address,
                class: "w-full p-2 border rounded mb-2",
                # required: true,
                data: { address_lookup_target: "streetInput" } %>

            <%= form.label :city, "Town/City", class: "block mb-1" %>
            <%= form.text_field :city,
                class: "w-full p-2 border rounded mb-2",
                # required: true,
                data: { address_lookup_target: "cityInput" } %>

            <%= form.label :display_postcode, "Postcode", class: "block mb-1" %>
            <%= form.text_field :display_postcode,
                class: "w-full p-2 border rounded mb-2",
                # required: true,
                data: { address_lookup_target: "displayPostcodeInput" } %>
          </div>

          <div class="flex flex-col md:flex-row md:justify-between md:items-center">
            <div>
              <%= form.submit "Save Address", 
                  type: "button", 
                  id: "saveAddress",
                  class: "btn-secondary my-4" %>
            </div>
            <div>
              <p class="text-secondaryText">We can only deliver to the North East</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <h1 class="font-bold text-3xl p-1 text-darkBlue">Delivery Date</h1>
      
      <div class="bg-slate-50 p-2 m-2 drop-shadow">
        <div id="delivery-date-messages"></div>
        <form id="delivery-date-form" data-order-id="<%= @order.id %>">
          <div class="py-2">
            <label for="delivery_date" class="block mb-1">Choose a Delivery Date</label>
            <input type="text" id="delivery_date" name="order[delivery_date]"
                  class="w-full p-2 border rounded"
                  placeholder="Select delivery date"
                  value="<%= @order.delivery_date&.strftime('%Y-%m-%d') %>"
                  data-controller="flatpickr">
          </div>
          <%# <button type="submit" class="btn-secondary my-4">Save Delivery Date</button> %>
        </form>
      </div>
    </div>

    <%= link_to 'Back to basket', basket_path, class: 'btn-secondary m-2' %>
  </div>

  <div class="w-full lg:w-1/2">
    <div class="flex items-end" data-controller="timer">
      <h1 class="font-bold text-3xl p-1 text-darkBlue">Order Summary</h1>

      <%# Timer Section for Pending Order %>
      <% if @pending_order&.time_left && @pending_order.time_left > 0 %>
        <div class="text-sm text-gray-500 pb-1 pl-4">
          Time left: 
          <span id="order-timer-<%= @pending_order.id %>"
                data-timer-target="timer" 
                data-expiration-time="<%= @pending_order.time_left.to_i %>">
            Loading...
          </span>
        </div>
      <% end %>
    </div>
    <div class="bg-slate-50 p-2 m-2 drop-shadow">
      <ul class="pb-4">
        <% @order.order_items.each do |item| %>
          <li class="flex justify-between border-b py-2">
            <span><%= item.item.name %> (x<%= item.quantity %>)</span>
            <span>£<%= (item.price * item.quantity) %></span>
          </li>
        <% end %>
      </ul>

      <div class="flex justify-between py-1">
        <span>Delivery fee:</span>
        <span>£<%= @order.delivery_fee %></span>
      </div>

      <div class="flex justify-between font-bold text-lg border-t pt-2">
        <span>Total:</span>
        <span>£<%= @order.total_amount || 0 %></span>
      </div>
    </div>


    <h1 class="font-bold text-3xl p-1 text-darkBlue">Payment Details</h1>
    <p class="text-secondaryText p-1">This is a mock payment system - it doesn't require correct card details</p>
    <div class="bg-slate-50 p-2 m-2 drop-shadow">
      <%= form_with model: [@order, @payment], id: "paymentForm", url: order_payments_path(@order), local: true do |form| %>
          <div class="py-2">
            <%= form.label :card_number, "Card Number", class: "block mb-1" %>
            <%= form.text_field :card_number, 
                pattern: "\\d{4} \\d{4} \\d{4} \\d{4}", 
                maxlength: 19, 
                placeholder: "1234 5678 1234 5678", 
                required: true, 
                class: "w-full p-2 border rounded",
                id: "card-number" %>
          </div>

          <div class="py-2">
            <%= form.label :expiry_date, "Expiry Date (MM/YY)", class: "block mb-1" %>
            <%= form.text_field :expiry_date, 
                pattern: "^(0[1-9]|1[0-2])\\/\\d{2}$", 
                maxlength: 5, 
                placeholder: "MM/YY", 
                required: true, 
                class: "w-full p-2 border rounded",
                id: "expiry-date" %>
          </div>

          <div class="py-2">
            <%= form.label :cvv, "CVV", class: "block mb-1" %>
            <%= form.text_field :cvv, 
                pattern: "^\\d{3,4}$", 
                maxlength: 4, 
                placeholder: "123", 
                required: true, 
                class: "w-full p-2 border rounded",
                id: "cvv" %>
          </div>

          <%= form.hidden_field :amount, value: @order.total_amount %>
        

        <%= form.submit "Pay Now", class: "btn-primary w-full text-center mt-4" %>
      <% end %>
    </div>
  </div>
</div>
