<div class="p-4">
  <div class="flex justify-start items-center w-full mb-2">    
    <%= form_with url: items_path, method: :get, local: true do %>
      <div class="flex items-center w-full sm:w-auto">
        <%= text_field_tag :query, params[:query], placeholder: "Search items", class: "input-class flex-grow sm:flex-grow-0 w-full sm:w-auto" %>
        <%= submit_tag "Search", class: "btn-primary ml-2 w-full sm:w-auto" %>
      </div>

      <!-- Sorting Filters -->
      <div class="flex overflow-x-auto gap-4 py-2 w-full no-scrollbar">
        <% filters = { 
          "price_asc" => "Price: Low to High", 
          "price_desc" => "Price: High to Low", 
          "name_asc" => "Name: A-Z", 
          "name_desc" => "Name: Z-A" 
        } %>
        <% filters.each do |key, label| %>
          <%= link_to items_path(query: params[:query], sort_by: key), class: "filter-tile #{'active' if params[:sort_by] == key}" do %>
            <%= label %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flex justify-start mb-2">
    <p class="mx-2">
      <%= params[:query].present? ? "Results for '#{params[:query]}'" : "All products" %>
    </p>
    <p>|&nbsp; <%= @items.count %> item(s) </p>
  </div>
  
  <% if @items.empty? %>
    <p class="text-red-500 text-center font-bold py-4">No results found. Please try another search.</p>
  <% else %>
    <%= render 'item_list' %>
  <% end %>
</div>
