<div class="p-4">
  <div class="flex justify-start items-center w-full mb-2">    
    <%= form_with url: items_path, method: :get, local: true do %>
      <div class="flex items-center w-full sm:w-auto">
        <%= text_field_tag :query, params[:query], placeholder: "Search items", class: "input-class flex-grow sm:flex-grow-0 w-full sm:w-auto" %>
        <%= submit_tag "Search", class: "btn-primary ml-2 w-full sm:w-auto" %>
      </div>

      <!-- Sorting Filters -->
      <div class="flex overflow-x-auto gap-4 py-2 w-full no-scrollbar">
        <% filters = { 
          "price_asc" => "Price: Low to High", 
          "price_desc" => "Price: High to Low", 
          "name_asc" => "Name: A-Z", 
          "name_desc" => "Name: Z-A" 
        } %>
        <% filters.each do |key, label| %>
          <%= link_to items_path(query: params[:query], sort_by: key), class: "filter-tile #{'active' if params[:sort_by] == key}" do %>
            <%= label %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flex justify-start mb-2">
    <p class="mx-2">
      <%= params[:query].present? ? "Results for '#{params[:query]}'" : "All products" %>
    </p>
    <p>|&nbsp; <%= @items.count %> item(s) </p>
  </div>
  
  <% if @items.empty? %>
    <p class="text-red-500 text-center font-bold py-4">No results found. Please try another search.</p>
  <% else %>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full">
      <% @items.each do |item| %>
        <%= link_to item_path(item, query: params[:query]) do %>
        <div class="flex flex-col max-w-65 bg-slate-50 drop-shadow transform transition-transform hover:scale-105">
          <img src="<%= item.image_url %>" class="object-cover mx-2 mt-2 hover:brightness-125 transition-all"/>
          <div class="px-2 py-1">
            <p><%= item.name %></p>
            <p>£<%= item.price %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
