<div class="p-4 flex justify-center items-center">
  <div class="flex flex-col lg:flex-row justify-center items-stretch w-full max-w-screen-lg">
    <div class="w-full lg:w-2/5 flex justify-center p-2">
      <img src="<%= @item.image_url %>" class="w-auto h-auto max-h-screen object-contain">
    </div>
    
    <div class="w-full lg:w-2/5 flex flex-col p-2 mx-auto lg:mx-0">
      <div>
        <p class="pb-2"><%= @item.name %></p>
        <div class="pb-2 flex items-center">
          <p>
            £<%= @item.price %> -&nbsp;
          </p>
          <p>
            <%= button_to "Add to Wishlist", wishlist_items_path(item_id: @item.id), method: :post %>
          </p>
        </div>
        <p class="pb-2"><%= @item.description %></p>
        <p class="pb-2">Stock remaining: <%= @item.stock%></p>
        <p class="pb-2">Dimensions: </p>

        <div class="w-full pb-2 flex justify-between items-center" data-controller="basket">
          <%= form_with url: basket_items_path(item_id: @item.id), 
                method: :post, class: 'flex items-center',
                data: { action: "submit->basket#submitForm" } do |form| %>
            <div class="flex">
              <p>Quantity:&nbsp;</p>
              <input type="number"
                     name="quantity"
                     value="1"
                     min="1"
                     max="<%= @item.stock %>"
                     class="w-16 text-center"
                     data-basket-target="quantityInput"
                     data-action="input->basket#updateHiddenQuantity">
            </div>
            <%= form.hidden_field :quantity, 
                data: { basket_target: "hiddenQuantity" } %>
            <%= form.submit "Add to basket", class: 'btn-primary ml-2 cursor-pointer' %>
          <% end %>
        </div>

      </div>
      <div class="mt-auto">
        <%#= link_to "Back to all results", items_path %>
        <% if params[:query].present? %>
          <%= link_to "Back to all results", items_path(query: params[:query]), class: "text-blue-500" %>
        <% else %>
          <%= link_to "Back to all results", items_path, class: "text-blue-500" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
