<div class="p-4">
  <div class="flex justify-center items-stretch">
    <img src="<%= @item.image_url %>" class="w-1/3 h-auto max-h-screen object-contain">
    
    <div class="flex flex-col p-2 w-1/3 h-auto">
      <div>
        <p class="pb-2"><%= @item.name %></p>
        <p class="pb-2"><%= @item.description %></p>
        <p class="pb-2">Dimensions: </p>
        <p class="pb-2">Stock remaining: <%= @item.stock%></p>

        <div class="pb-2 flex justify-between items-center" data-controller="basket">
          <p>£<%= @item.price.round(0) %></p>
          
          <div class="flex items-center">
            <p>Quantity:&nbsp;</p>
            <input type="number" id="quantity" name="quantity" value="1" 
                  min="1" max="<%= @item.stock %>" class="w-16 text-center"
                  data-basket-target="quantityInput" data-action="input->basket#updateHiddenQuantity">
          </div>

          <%= form_with url: basket_items_path(item_id: @item.id), 
                method: :post, class: 'inline' do |form| %>
            <%= form.hidden_field :quantity, id: 'quantity-input', 
                data: { target: "basket.hiddenQuantity"} %>
            <%= form.submit "Add to basket", class: 'btn-primary' %>
          <% end %>
        </div>

      </div>
      <div class="mt-auto">
        <%= link_to "Back to results", items_path, class: 'btn-primary' %>
      </div>
    </div>
  </div>
</div>
